.list-activity {
    list-style: none;
    padding: 0;
    line-height: 2.2em;
}

.img-front {
    &:hover {
        transform: scale(1.2);
        box-shadow: 0.45em 0.45em 0.4em rgba(0, 0, 0, 0.4);
        z-index: 10;
    }
}

#quotes {
    box-shadow: 0.25em 0.25em 0.4em rgba(0, 0, 0, 0.2);
}